.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    padding: 5px;
    margin: 0 6px 6px;
    background: rgb(57, 209, 178);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 20px) ;
    color: rgb(1, 0, 0);
}
  
a.active {
    background: black;
    color: white;
}